/* Header and Navigation */
header {
	background-color: #ffffff;
	border-bottom: solid 1px #cccccc;
	clear: both;
	height: 70px;
	margin-bottom: 40px;
	width: 100%;
}

#header {
	width: 960px;
	margin: 0 auto;
}

nav {
	font-family: Arial, "Helvetica Neue", Helvetica, serif;
	float: right;
	height: 30px;
	list-style-type: none;
	margin-right: auto;
	padding: 20px 0 20px 0;
	width: 270px;
}

.nav_item {
	float: left;
	height: 20px;
	line-height: 20px;
	margin: 0;
	text-align: center;
	width: 69px;
	vertical-align: middle;
}

.nav_list {
	margin: 0 auto;

}
.nav_link {
	color: #777777;
	font-size: 12px;
	padding: 0 10px 0 10px;
	text-decoration: none;
}


ul.nav_list li a:hover {
    background-color: #4aaaa5;
    opacity: .6;
    text-decoration: none;
}

ul.nav_list li a:visted {
    color: #777777;
}


/* Body */
main {
	background-color: #ffffff;
	clear: both;
	margin: 0 auto 0 auto;
	width: 960px;
}

article {
	background-color: #ffffff;
	float: left;
	margin-bottom: 40px;
	padding: 20px;
	width: 610px;
}

body {
	background-image: url("../images/bg-img.png");
	min-height: 100%;
}

h1 {
	background-color: #4aaaa5;
	color: #ffffff;
	float: left;
	font-family: Georgia, Times, "Times New Roman", sans-serif;
	font-size: 30px;
	line-height: 30px;
	margin: 0 0 0 auto;
	padding: 20px;
	vertical-align: middle;
	width: auto;
}

h2 {
	color: #4aaaa5;
	border-bottom: 1px solid #777777;
	font-family: Georgia, Times, "Times New Roman", sans-serif;
	font-size: 24px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

/* Connect */
aside {
	background-color: #ffffff;
	float: right;
	vertical-align: top;
	height: auto;
	width: 230px;
	padding: 20px;
}

#icon-list img{
    float: left;
	height: 70px;
	width: 70px;
}

/* About Me */

.aboutme-img {
    width: 300px;
    float: left;
    margin: 0px 20px 20px 0px;
}

.aboutme p {
    color: #666666;
	font-family: Arial, "Helvetica Neue", Helvetica, serif;
	font-size: 12px;
	line-height: 20px;
}


/* Portfolio */

.images img {
    width: 98%;
    margin: auto;
    padding: 0;
}

#left.images {
    float: left;
    position: relative;
    width: 50%;
}

#right.images {
    float: right;
    position: relative;
    width: 50%;
}

.app-name {
    text-align: center;
    background-color: #4aaaa5;
    opacity: .85;
    width: 98%;
    padding: 5px 0 10px 0;
    position: absolute;
    margin-top: -50px;
    margin-left: auto;
    
    
}
 
.app-name p {
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    
}

/* Contact */

#ContactPage form {
    font-size: 14px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 130%;
}

input {
    width: 80%;
}

textarea {
    width: 80%;
}
.Submit-Button {
    width: 100px;
    height: 50px;
    background-color: #4aaaa5;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
}

.Submit-Button a {
    font-size: 14px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    text-decoration: none;
}

/* Footer */

footer {
    border-top: 10px solid #4aaaa5;
    margin-top: 30px;
    padding: 40px 0px 40px 0px;
    text-align: center;
    background-color: #5b5b5b;
    clear: both;
}

footer p {
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
}



