/* Header and Navigation */

.navbar {
    background-color: white;
    margin-top: 50px;
    border: solid 1px;
    border-color: #777777;
    position: static;
}

.navbar-links h1{
    margin-left: 100px;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: white;
    display: inline-block;
    height: 80px;
    width: 200px;
    
}
ul.topnav {
    list-style-type: none;
    margin-right: 150px;
    padding: 0;
    overflow: visible;
    background: white;
    float: right;
    text-decoration: none;
    display: inline-block;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: inline-block;
    color: #777777;
    text-align: right;
    text-decoration: none;
    padding-top: 30px;
    font-size: 14px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-right: 50px;
}

ul.topnav li a:hover {
    background-color: #f0f5f5;
    text-decoration: none;
}

ul.topnav li a:visted {
    color: #777777;
}


/* Body */

body {
    background-color: #D3D3D3;
}


/*** Generic Content ***/

.content {
    background-color: white;
    margin-top: 50px;
    margin-left: 100px;
    width: 550px;
    padding: 20px 30px 20px 30px;
    border: 1px solid #777777; 
    
}

.content h1 {
    font-size: 30px;   
    color: #4aaaa5;
}


/* About Me */

#AboutMe img {
    width: 300px;
    float: left;
    margin: 0px 20px 20px 0px;
}

#AboutMe p {
    font-size: 14px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 130%;
}

/* Portfolio */

.work-img ul li {
    vertical-align: middle;

}
.work-img img {
    width: 300px;
    list-style-type: none;
}


/* Connect */

#Connect {
    float: right;
    background-color: white;
    margin: -620px 250px;/* wtf is this even the right?? */
    width: 200px;
    padding: 20px;
    border: 1px solid #777777;
}

#Connect h2{
    font-size: 20px;   
    color: #4aaaa5;
    text-align: center;
}

#Connect ul li {
    display: inline-block;
    overflow: visible;
    padding: -20px;
    float: right;
    list-style-image: none; 
    vertical-align: middle;
}

#icon-list a img {
    width: 50px;
    list-style-image: none;
}


/* Footer */

footer {
    border-top: 10px solid #4aaaa5;
    margin-top: 30px;
    padding: 40px 0px 40px 0px;
    text-align: center;
    background-color: #5b5b5b;
}

footer p {
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
}



